data/ind.*
models
__pycache__
data/*.*.*
data/*shuffle*
data/*vector*
data/corpus/*labels*
data/corpus/*shuffle*
.ipynb_checkpoints
data/corpus/*vocab*
nohup.out
checkpoints/*
checkpoint/*
,/*

*.ipynb
bert_gcn
bert_gcn_ind
bert_sgc
